.graphs-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.graph-container {
    padding: 20px
}

.date-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.input-container {
    margin: auto;
}

 .last-value-container {
    margin: auto;
    display: flex;
 }

.last-value {
    font-family: arial;
    font-size: larger;
    padding-left: 4px;
    padding-top: 5px;
}


body {
    background-color: #f6f6f6;
}

label {
    padding: 5px;
    font-family: arial;
    font-size: larger;
}
